.page-id-227 .site-content .ast-container {
    max-width: 100vw;
}

.page-id-227 .ast-container #primary {
    margin: 0;
}

.post-1303.ast-article-single {
padding: 0;
}

#post-1303.page{
    background-color: #1e1810;
}

.page-id-227 .entry-header {
    margin-bottom: 0;
}

	.page-id-227 .navicon-close {
	display: none;
	}

.page-id-227 .entry-content {
    min-height: 100vh;
}

.page-id-227 .entry-content h1 {
padding: 40px 10px 20px 10px;
margin-bottom: 0;
line-height: 1.2em;
    font-size: 35px;
    z-index: 999;
    background-color: #1e1810;
    position: relative;
}

.page-id-227 .counter {
    display: none;
}

.page-id-227  .search_bar {
    display: none;
}

.page-id-227 .input_search {
    font-size: 15px;
    max-width: 500px;
    min-width: 320px;
    width: 80%;
}

.page-id-227 .search_result li {
    list-style-type: none;
}

/*WYSIWYG Bug*/
.page-id-227 #my_map + p {
	margin: 0;
	padding: 0;
}

.page-id-227 #my_map ~ br {
	display: none;
}

.page-id-227 .entry-content .wrapper-liste {
	padding-bottom: 45vh;
	z-index: 9;
    background-color: #1e1810;
    position: relative;
}

	.page-id-227 .abschaltung.filter {
	padding-left: 5px;
		padding-bottom: 5px;
}

	.page-id-227 .abschaltung.filter p{
	margin-bottom: 5px;
}


.page-id-227 .unternehmen {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.page-id-227 .unternehmenseintrag {
    padding: 10px;
    width: 320px;
    display: flex;
 }
 

.page-id-227 .unternehmen .logo-wrapper {
    max-width: 100px;
    min-width: 100px;
    background-color: #fff;
    height: 60px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.page-id-227 .unternehmen .logo-wrapper img {
    padding: 5px;
    max-height: 50px;
    width: auto;
}

.page-id-227 .unternehmen .logo-wrapper img:hover,
.page-id-227 .unternehmen .logo-wrapper img:active {
    opacity: 0.5;
}

.page-id-227 .unternehmenseintrag .text {
    padding-left: 10px;
    align-self: center;
}

.page-id-227 .unternehmen .unternehmenseintrag h3 {
    margin-bottom: 0;
    line-height: 18px;
}

.page-id-227 .unternehmen .unternehmenseintrag h3 a{
    font-size: 18px;
}

.page-id-227 .unternehmen .unternehmenseintrag h3 a:hover,
.page-id-227 .unternehmen .unternehmenseintrag h3 a:active {
    color: #F9C349;
}

.page-id-227 .map_link_point {
	font-size: 14px;
	cursor: pointer;
	padding: 5px 0;
	display: inline-block;
}

.page-id-227 .map_link_point::before {
	font-family: "Font Awesome 5 Free";
	padding: 5px;
	font-size: 18px;
	content: "\f279";
}

.page-id-227 .map_link_point:hover,
.page-id-227 .map_link_point:active {
	opacity: 0.5;
}


.page-id-227 .adresse {
    font-size: 14px;
	position: relative;
}


	
/* Borlabs */

body .BorlabsCookie ._brlbs-content-blocker ._brlbs-caption a {
    color: #f9c349;
}

body .BorlabsCookie ._brlbs-content-blocker p {
	max-width: 80vw;
	margin: 0 auto;
}

body .BorlabsCookie ._brlbs-content-blocker a._brlbs-btn {
    background-color: none;
    border: 4px solid #f9c349;
    color: #f9c349;
    font-weight: 900;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
text-transform: lowercase;
    font-size: 20px;
}

body .BorlabsCookie ._brlbs-content-blocker a._brlbs-btn:hover,
body .BorlabsCookie ._brlbs-content-blocker a._brlbs-btn:active {
    background-color: rgba(0,0,0,0);
    opacity: 0.5;
}


.page-id-227 #my_map {
    width: 100vw;
   /* position: fixed; 
    bottom: 0px;
    top: auto;
    left: 0;
    z-index: 9; 
    border-top: 20px solid #1e1810;
	*/
}


.page-id-227 #my_map {
    height: 50vh;
    min-height: 100px;  
}

.page-id-227 .leaflet-touch .leaflet-control-layers, .page-id-227 .leaflet-touch .leaflet-bar {
    box-shadow: none;
    border: none;
}

/*Suchfunktion*/

.page-id-227  .leaflet-control-container .leaflet-control-geocoder-form {
    display: block;
	max-width: 250px;
	width: 250px;
}


.page-id-227  .leaflet-control-container .leaflet-control-geocoder-form input {
	text-align: center;
}

.page-id-227  .leaflet-control-geocoder  .leaflet-control-geocoder-icon {
    display: none;
}

.page-id-227  .leaflet-control-zoom-in,
.page-id-227 .leaflet-control-zoom-out,
.page-id-227  .leaflet-control-geocoder-form,
.page-id-227  .leaflet-control-geocoder-form:focus,
.page-id-227  .leaflet-control-geocoder-form input[type="text"],
.page-id-227  .leaflet-control-geocoder-form input::placeholder,
.page-id-227 .leaflet-control-geocoder-form-no-error,
.page-id-227 .leaflet-control-geocoder-error,
.page-id-227 .leaflet-control-geocoder-alternatives {
    background-color: rgba(30, 24, 16, 0.9);
    color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.page-id-227  .leaflet-control-geocoder-form input,
.page-id-227 .leaflet-control-geocoder-alternatives {
    width: 100%;
}

.page-id-227 .leaflet-control-geocoder-alternatives li:hover,
.page-id-227 .leaflet-control-geocoder-alternatives li:active,
.page-id-227 .leaflet-control-geocoder-selected {
    background-color: rgba(30, 24, 16, 0.9);
}

.page-id-227  .leaflet-control-geocoder-alternatives a,
.page-id-227  .leaflet-control-geocoder-alternatives span {
    color: #fff;
    width: 100%;
}

.page-id-227 .leaflet-marker-icon div{
    background-color: rgba(1, 3, 85, 0.8);
    box-shadow: 0 0 30px 30px rgba(1, 3, 85, 0.5);
	border: 1px solid #abb8c3;
}

.page-id-227 #my_map .leaflet-popup-content-wrapper,
.page-id-227 #my_map .leaflet-popup-tip {
    background-color: rgba(30, 24, 16, 0.9);
    border-radius: 0;
}

.page-id-227 #my_map .leaflet-popup-content > p:nth-child(2) {
    color: #fff;
    font-size: 90%;
}

.page-id-227 #my_map .leaflet-popup span {
    color: #fff;
}

.page-id-227 #my_map .leaflet-popup a {
    color: #f9c349;
}

.page-id-227 #my_map .leaflet-popup a:hover,
.page-id-227 #my_map .leaflet-popup a:active {
    opacity: 0.5;
}

.page-id-227 #my_map .leaflet-popup a::after {
    content: "";
}

.page-id-227 #my_map .leaflet-popup .leaflet-popup-close-button::after  {
    content: "";
}

.page-id-227 .firmen-toggle {
 position: fixed;
    bottom: 0;
    left: 0;
 background-color: #000;
display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 9999;
    width: 100px;
    height: 100px;
    font-size: 0px;
    box-shadow: 0 0 10px 3px #666;
}

.page-id-227 .firmen-toggle .firmen-show {
    display: none;
}

.page-id-227 .firmen-toggle .firmen-hide::after,
.page-id-227 .firmen-toggle .firmen-show::after {
    font-family: "Font Awesome 5 Free";
    background-color: #f9c349;
    color: #000;
    font-size: 30px;
    border-radius: 2px;
    line-height: 30px;
    padding: 10px;
    cursor: pointer;
}

.page-id-227 .firmen-toggle .firmen-hide::after {
    content: "\f060";
}

.page-id-227 .firmen-toggle .firmen-show::after {
    content: "\f061";
}

.page-id-227 .firmen-toggle:hover,
.page-id-227 .firmen-toggle:acttive {
    opacity: 0.5;
}

/* Firmenliste Show/Hide */
.page-id-227.firmen-hide .entry-content h1,
.page-id-227.firmen-hide .wrapper-liste,
.page-id-227.firmen-hide .firmen-toggle .firmen-hide {
    display: none;
}

.page-id-227.firmen-hide .firmen-toggle .firmen-show {
    display: flex;
}

.page-id-227.firmen-hide #my_map{
    width: 100vw;
}

.leaflet-control-container .leaflet-top.leaflet-left {
    bottom: 30px;
    top: auto;
    right: 10px;
    left: auto;
}

.page-id-227 .site-footer {
    z-index: 9;
    position: relative;
}


@media only screen and (max-width: 980px) {

	html {
    margin-top: 0 !important;
}

    .ast-mobile-header-wrap .ast-primary-header-bar, .ast-primary-header-bar .site-primary-header-wrap {
        min-height: 55px;
    }
    .page-id-227 .main-header-bar {
        padding: 0;
    }

    .page-id-227  .custom-logo {
        max-width: 100px;
    }

    .page-id-227 .ast-button-wrap .menu-toggle.main-header-menu-toggle {
        padding: 10px;
    }

    .page-id-227 .entry-content {
        display: flex;
        flex-direction: column;
    }

.page-id-227 .entry-content h1 {
 font-size: 25px;
    order: 2;
    display: flex;
    /* margin-top: 45vh; */
	margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 0;
}

    .page-id-227 .firmen-toggle {
        height: 75px;
        width: 75px;
        order: 4;
    }

    .page-id-227 .firmen-toggle .firmen-hide::after,
    .page-id-227 .firmen-toggle .firmen-show::after {
    font-size: 15px;
        line-height: 15px;
    }

    body.page-id-227 .entry-content .wrapper-liste {
    padding-top: 20px;
        order: 3;
        margin-top: 0;
}

    .page-id-227 .entry-content h3 {
        font-size: 15px;
    }
    .page-id-227 .map_link_point::before {
        font-size: 12px;
        padding-top: 0;
    }

    .page-id-227  #my_map {
        order: 1;
        display: flex;
 /*   top: 36px; */
    }

    .leaflet-control-container .leaflet-top.leaflet-left {
        top: 0;
        bottom: auto;
        left: 0;
        right: auto;
    }

    .page-id-227 .leaflet-control-attribution.leaflet-control {
        font-size: 12px;
    }

    .leaflet-top.leaflet-right {
        max-width: 205px;

    }

    .leaflet-top.leaflet-right .leaflet-control-geocoder-form input {
        font-size: 14px;
        line-height: 1.2em;
        padding: 10px;
    }
	
	
	/* Fullscreen */
	
	.page-id-227.firmen-hide #my_map {
		height: 85vh;
	}	
}

@media only screen and (min-width: 1081px) {

    .page-id-227 .site-header-primary-section-left,
    .page-id-227 .site-header-above-section-right,
	.page-id-227 .ast-above-header-wrap  {
        display: none;
    }

    .page-id-227  .site-header-primary-section-right {
        justify-content: flex-start;
    }

    .page-id-227  .site-header-primary-section-right::before {
        content: "\f0c9";
        font-family: "Font Awesome 5 Free";
        font-size: 30px;
        line-height: 30px;
        background-color: #f9c349;
        color: #000;
        padding: 15px;
        margin-right: 30px;
        border-radius: 2px;
		cursor: pointer;
    }

    /* Show/Hide Navi */
    .page-id-227.nav-show-22 .site-header-primary-section-left,
    .page-id-227.nav-show-22 .site-header-above-section-right,
	.page-id-227.nav-show-22 .ast-above-header-wrap {
display: block;
    }

    .page-id-227.nav-show-22  .site-header {
        width: 100vw;
    }
	
	.page-id-227.nav-show-22 #ast-desktop-header {
		width: 100vw;
		display: block;
	}

    .page-id-227.nav-show-22  .site-header-primary-section-right::before {
       display: none;
    }
	
		.page-id-227.nav-show-22 .navicon-close {
	display: block;
	visibility: hidden;
	position: absolute; 
	cursor: pointer;
	left: 20px;
	width: 1px;
	font-size: 0;
		z-index:99999999;
	}
	
	.page-id-227.nav-show-22 .navicon-close::before {
		content: "\f0c9";
        font-family: "Font Awesome 5 Free";
        font-size: 30px;
        line-height: 30px;
        background-color: #f9c349;
        color: #000;
        padding: 15px;
        margin-right: 30px;
        border-radius: 2px;
		display: inline;
		visibility: visible;
		z-index: 9999999;
		position: absolute;
		margin-top: 1.2em;
	}
	
	.page-id-227.nav-show-22 #ast-hf-menu-1 a {
		font-size: 18px;
	}
	
	/*Suchfunktion*/

.page-id-227  .leaflet-control-container .leaflet-control-geocoder-form {
    display: block;
	max-width: 300px;
	width: 300px;
}
	
	
}

/* Landscape mode */
@media only screen and (min-aspect-ratio: 1/1) {
	
      .page-id-227  .entry-content {
        display: grid;
        grid-template-columns: 50vw 50vw;
    }

	body.page-id-227 .entry-content h1 {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 0;
	}
	
	    .page-id-227 .wrapper-liste {
        grid-column: 1/2;
            grid-row: 2/3;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0vh 2vw 2vh 2vw;
        min-height: 100vh;
    }
	
		.page-id-227 .abschaltung.filter {
	padding-left: 0;
}


    .page-id-227 .unternehmenseintrag {
        width: 100%;
		padding-left: 0;
    }
	
	.page-id-227 .unternehmenseintrag .text {
        padding-left: 10px;
    }

    .page-id-227 .BorlabsCookie ._brlbs-content-blocker {
        grid-column: 2/3;
    }


    .page-id-227 #my_map {
        height: 85vh;
        width: 50vw;
        display: block;
		border: none;
		grid-column: 2/3;
		grid-row: 1/3;
		margin-top: 0;
    }
	
		/* Fullscreen */
	
	.page-id-227.firmen-hide #my_map {
		height: 85vh;
		grid-column: 1/3;
	}
}

@media only screen and (min-aspect-ratio: 1/1) and (min-width: 1081px) {
	.page-id-227 .section-header-mobile-trigger {
		display: none;
	}
	
	.page-id-227 .site-header {
		width: 50vw;
		background-color: #1e1810;
	}
	
	.page-id-227 #ast-desktop-header {
		width: 280px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		background-color: #000;
		padding-right: 15px;
	}
	
	.page-id-227 .site-header-primary-section-right::before {
		margin-left: 30px;
	}
	
	.page-id-227 .site-header .site-primary-header-wrap {
		padding: 0;
	}
	
	.page-id-227 .site-header .custom-logo {
		margin: 0;
	}
	
    .page-id-227 .entry-content h1,
    .page-id-227 .wrapper-liste {
        width: 50vw;
    }
	
	.page-id-227 #my_map {
		position: fixed;
		right:0; 
		left: auto;
		top: 0;
		bottom: auto;
		height: 100vh;
	}
	
/*Fullscreen */	
	
	.page-id-227.firmen-hide #my_map {
		height: 100vh;
		grid-column: 1/3;
	}
}

@media only screen and (min-aspect-ratio: 1/1) and (min-width: 1350px) {

	.page-id-227.nav-show-22 #ast-hf-menu-1 a {
		font-size: 1.04545454545rem;
	}
	
	.page-id-227 .site-header,
    .page-id-227 .entry-content h1,
    .page-id-227 .wrapper-liste {
        width: 35vw;
    }

	.page-id-227 .entry-content h1 {
		padding-top: 30px;
		font-size: 50px;
	}

    .page-id-227 .unternehmenseintrag {
        padding: 20px 0;
    }

    .page-id-227 .unternehmenseintrag .text {
        padding-left: 20px;
    }

    .page-id-227 .unternehmen .unternehmenseintrag h3 a{
        font-size: 1.21739130435rem;
        line-height: 1.2em;
    }

    .page-id-227 .adresse {
        font-size: 16px;
    }
	
	
.page-id-227 .werbebeleuchtung_j .adresse::after {
	content: "\f005";
	font-family: "Font Awesome 5 Free";
	font-size: 20px;
	color: #f9c349;
	display: block;
	height: 20px;
	width: 30px;
	margin-bottom: 10px;
}


.page-id-227 .werbebeleuchtung_j .adresse:hover::after,
.page-id-227 .werbebeleuchtung_j .adresse:active::after {
content: "Werbelicht wurde im Zuge der Teilnahme optimiert";
background: #000;
color: #fff;
padding: 11px;
box-shadow: 0 0 3px 1px #fff;
font-size: 16px;
text-shadow: none;
display: block;
width: 300px;
height: 70px;
margin-top: 10px;
margin-bottom: 0;
}

.page-id-227 .unternehmen .logo-wrapper {
    max-width: 160px;
    min-width: 160px;
    height: 120px;
}

.page-id-227 .unternehmen .logo-wrapper img {
    padding: 20px;
    max-height: 120px;
}

.page-id-227 #my_map {
    position: fixed;
    width: 65vw;
}

.page-id-227 .leaflet-top.leaflet-right {
top: 0;
}
}


/* Smartphone Hochkant*/
@media only screen and (max-aspect-ratio: 1/1) and (max-width: 650px) {
    .page-id-227 .entry-content ._brlbs-content-blocker ._brlbs-embed ._brlbs-caption {
        transform: none;
        position: static;
    }	
}

/* Landscape kleinere screens*/
@media only screen and (min-aspect-ratio: 1/1) and (max-width: 1280px) {
    .page-id-227 .entry-content ._brlbs-content-blocker ._brlbs-embed ._brlbs-caption {
        transform: none;
        position: static;
    }
}

@font-face {
  font-family: "Font Awesome 5 Free";
  src: url(/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.woff2);
}
