 

.gallery .menu.top {
  padding-top:  60px;
}

.gallery .menu.top ul,
.gallery_wrapper {
  padding: 0 60px;
}



.head_wrapper {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 40px auto 20px auto;
}

.gallery .head_wrapper h1 {
  font-size: 38px;
  display: inline-block;
  color: var(--d_blue);
    position: absolute;
    left: 60px;
}

h2 {
  font-size: 19px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}

.search {
  display: inline-block;
  max-width: 520px;
  margin: 0 20px 0 0;
}

.orte {
  display: none;
}

.grid-content {
  display: flex;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(auto-fill, 250px);
  max-width: 1600px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.grid-item {
  width: 360px;
  padding: 30px 20px;
  border-bottom: 1px solid #d9d5d5;
}

.grid-item-wrap {
  width: 360px;
  height: 240px;
  border-radius: 3px;
  border: 1px solid #d9d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fff;
  position: relative;
}

.grid-content img {
  object-fit: contain;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.orte_tags {
  padding: 10px 0;
}

.fotograf {
  padding-top: 10px;
}

/* Media Querries */
@media screen and (max-width: 980px) {

    .kulturdatenbank .menu.top {
padding: 60px 30px 0 30px;
    }

    .kulturdatenbank .menu.top .logo {
font-size: 38px;
    }

    .kulturdatenbank .menu.top ul {
        padding: 0 10px;
    }

    .kulturdatenbank  .head_wrapper {
        flex-direction: column;
        padding: 0 10px;
        margin-top: 20px;
    }

    .kulturdatenbank .gallery_wrapper {
padding: 0 30px;
    }

    body.kulturdatenbank .gallery_wrapper h1 {
font-weight: 300;
font-size: 32px;
position: static;
    }

    .gallery_wrapper .search {
        max-width: 100%;
        width: 100%;
        margin: 30px 0;
    }

    .kulturdatenbank.gallery .close .close_icon {
      top: 60px
    }

    .gallery_wrapper  .grid-content {
      justify-content: space-between;
    }


    .gallery_wrapper .grid-item,
    .gallery_wrapper .grid-item-wrap  {
      width: 200px;
    }

    .gallery_wrapper .grid-item-wrap {
      height: 133px;
    }

    .gallery_wrapper .grid-item {
        border-bottom: none;
        padding: 10px;
    }

    .grid-item h2 {
        font-size: 18px;
        font-weight: 500;
    }

    .grid-item {
      font-size: 16px;
    }
}

@media screen and (max-width: 720px) {

  .gallery_wrapper .search {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery_wrapper .grid-item, .gallery_wrapper .grid-item-wrap {
    width: 400px;
    min-width: 400px;
    margin: 0 auto;
  }

  .gallery_wrapper .grid-item-wrap {
    height: 252px;
  }

  .gallery_wrapper .grid-item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .kulturdatenbank.gallery .menu.top .logo {
    font-size: 30px;
  }

  body.kulturdatenbank.gallery  .gallery_wrapper h1 {
    font-size: 26px;
  }

  .gallery_wrapper .search {
    max-width: 220px;
  }

  .gallery_wrapper .searchTerm {
    font-size: 14px;
  }

  .gallery_wrapper .grid-item, .gallery_wrapper .grid-item-wrap {
    width: 220px;
    min-width: 220px;
  }

  .gallery_wrapper .grid-item-wrap {
    height: 120px;
  }
}
