.gallery_wrapper {
padding: 60px;
}

h1 {
    font-size: 30px;
}

.grid-content {
    display: flex;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(auto-fill, 250px);
    max-width: 1920px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.grid-item {
    width:  400px;
    padding: 30px 20px;
    border-bottom: 1px solid var(--l_grey);
}

.grid-item-wrap {
    width: 400px;
    height: 300px;
    border-radius: 3px;
    border: 1px solid var(--l_grey);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #fff;
}

.grid-content img {
object-fit: contain;
width: 100%;
overflow: hidden;
height: 100%;

}


/* Media Querries */
@media screen and (max-width: 980px) {

}