.gallery_wrapper {
  padding: 0 60px;
}

.head_wrapper {
  max-width: 1680px;
  display: flex;
  justify-content: space-between;
  padding: 0 45px;
}

h1 {
  font-size: 38px;
  display: inline-block;
  color: var(--d_blue);
}

h2 {
  font-size: 19px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}

.search {
  display: inline-block;
  max-width: 400px;
  margin: 0;
}

.orte {
  display: none;
}

.grid-content {
  display: flex;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(auto-fill, 250px);
  max-width: 1680px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.grid-item {
  width: 360px;
  padding: 30px 20px;
  border-bottom: 1px solid #d9d5d5;
}

.grid-item-wrap {
  width: 360px;
  height: 240px;
  border-radius: 3px;
  border: 1px solid #d9d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fff;
  position: relative;
}

.grid-content img {
  object-fit: contain;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

/* Media Querries */
@media screen and (max-width: 980px) {

    .kulturdatenbank .menu.top {
padding: 0 30px;
    }

    .kulturdatenbank .menu.top .logo {
font-size: 38px;
    }

    .kulturdatenbank .menu.top ul {
        padding: 15px 0;
    }

    .head_wrapper {
        flex-direction: column;
        padding: 0;
    }

    .kulturdatenbank .gallery_wrapper {
padding: 0 30px;
    }

    body.kulturdatenbank .gallery_wrapper h1 {
color: var(--d_blue);
font-weight: 300;
font-size: 32px;
    }

    .search {
        max-width: 600px;
        margin: 30px 0;
    }



    .gallery_wrapper .grid-item,
    .gallery_wrapper .grid-item-wrap  {
      width: 200px;
    }

    .gallery_wrapper .grid-item-wrap {
      height: 133px;
    }

    .gallery_wrapper .grid-item {
        border-bottom: none;
        padding: 10px;
    }

    .grid-item h2 {
        font-size: 18px;
        font-weight: 500;
    }

    .grid-item {
      font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
  body.kulturdatenbank .menu.top {
padding: 15px;
  }

  .kulturdatenbank .gallery_wrapper {
    padding: 0 15px;
  }

  .gallery_wrapper .grid-item, .gallery_wrapper .grid-item-wrap {
    width: 100%;
    height: auto;
  }

  .kulturdatenbank .gallery_wrapper .grid-item {
    padding: 30px 10px;

  }

}
