#wp-media-grid .select-mode-toggle-button {
  display: none;
}

/*  */
.media-sidebar {
  display: none;
}

#wp-attachment_content-wrap,
.compat-attachment-fields,
.media-types .media-types-required-info {
  display: none;
}
