#wp-media-grid .select-mode-toggle-button {
  display: none;
}

/* contributor can use only fotos, that has been uploaded in media */
.block-editor-media-placeholder__upload-button {
  display: none;
}

/*  */
.media-sidebar {
  display: none;
}
