
.fonticon-icon-brauchtum:before { content: '\e800'; } /* '' */
.fonticon-icon-dialekt:before { content: '\e801'; } /* '' */
.fonticon-icon-gemeinde:before { content: '\e802'; } /* '' */
.fonticon-icon-kulturelle-sehenswuerdigkeit:before { content: '\e803'; } /* '' */
.fonticon-icon-medien:before { content: '\e804'; } /* '' */
.fonticon-icon-point-of-interest:before { content: '\e805'; } /* '' */
.fonticon-icon-sagen-und-legenden:before { content: '\e806'; } /* '' */
.fonticon-icon-search:before { content: '\e807'; } /* '' */
.fonticon-icon-stern:before { content: '\e80a'; } /* '' */
.fonticon-icon-thementouren:before { content: '\e80b'; } /* '' */
.fonticon-info-icon:before { content: '\e80c'; } /* '' */
